.footer {
  max-width: 1200px;
  margin: -40px auto 0 auto;

  @include vp--767 {
    width: 330px;
    display: flex;
    justify-content: center;
  }
}

.footer__content {
  margin: 0;
  text-align: center;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  column-gap: 3px;
}
