.intro {
  background-image: url("../img/desktop-intro-background.jpg");
  background-size: cover;

  @include retina {
    background-image: url("../img/desktop-intro-background@2x.jpg");
  }

  @include vp--767 {
    background-image: url("../img/mobile-intro-background.jpg");
    background-repeat: no-repeat;
    background-position: top;

    @include retina {
      background-image: url("../img/mobile-intro-background@2x.jpg");
    }
  }
}
